@page "/Classes"
@using Application.Services.ClassesServices
@using Domain.Entities
@inject NavigationManager Navigation
@inject IClassesService ClassesService
<h1>Classes</h1>
<a class="btn btn-primary" href="/Classes/Add">Add Classes</a>
<table class="table">
    <thead>
<tr>
        <th>Id</th>
        <th>ClassName</th>
        <th>Classcode</th>
        <th>InstructorName</th>
        <th>Department</th>
        <th>Schoolyear</th>
        <th>useradded</th>
        <th>DateAdded</th>
        <th>Status</th>
        <th>EducationLevelId</th>
        <th>FacultyId</th>

    </tr>
    </thead>
    
    @foreach(var Class in classs)
    {
        <tr>
            <td>@Class.Id</td>
            <td>@Class.ClassName</td>
            <td>@Class.Classcode</td>
            <td>@Class.InstructorName</td>
            <td>@Class.Department</td>
            <td>@Class.Schoolyear</td>
            <td>@Class.useradded</td>
            <td>@Class.DateAdded</td>
            <td>@Class.Status</td>
            <td>@Class.EducationLevelId</td>
            <td>@Class.FacultyId</td>

        </tr>
    }
</table>
@code{
       private List<Classs>classs =new List<Classs>();
    protected override void OnInitialized()  
    {
    classs = ClassesService.GetAllClasses();
    }
}
