@page "/Classes"
@using Application.Services.ClassesServices
@using Domain.Entities
@inject IClassesService ClassesService
<h1>Classes</h1>

<table>
    <tr>
        <th>ClassId</th>
         <th>ClassName</th>
          <th>Classcode</th>
           <th>InstructorName</th>
           <th>School year</th>
    </tr>
    @foreach(var Class in classs)
    {
        <tr>
            <td>@Class.ClassId</td>
             <td>@Class.ClassName</td>
              <td>@Class.Classcode</td>
               <td>@Class.InstructorName</td>
                <td>@Class.Schoolyear</td>
        </tr>
    }
</table>
@code{
       private List<Class>classs =new List<Class>();
    protected override void OnInitialized()  
    {
    classs = ClassesService.GetAllClasses();
    }
}