@page "/students"
@using Application.Services.StudentServices
@using Application.DTOs
@inject NavigationManager Navigation
@inject IStudentService StudentService

<h1>Students List</h1>
<a class="btn btn-primary" href="/students/Add">Add Student</a>
<table class="table table-striped">
    <thead>
 <tr>
        <th>Id</th>
        <th>FullName</th>
        <th>Sex</th>
        <th>Date Of Birth</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>ParentNames</th>
        <th>Parentphonenumber</th>
        <th>useradded</th>
        <th>DateAdded</th>
        <th>Status</th>
        <th>Action</th>

    </tr>
    </thead>
   
    @foreach (var student in students)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.FullName</td>
            <td>@student.Sex</td>
            <td>@student.DateOfBirth</td>
            <td>@student.Phone</td>
            <td>@student.Email</td>
            <td>@student.Address</td>
            <td>@student.ParentNames</td>
            <td>@student.ParentPhoneNumber</td>
            <td>@student.UserAdded</td>
            <td>@student.DateAdded</td>
            <td>@student.Status</td>
            <th><a href="/students/@student.Id" class="btn btn-primary">ViewDetails</a></th>

        </tr>
    }
</table>
@code{
  
    private List<GetStudentDTO> students = new List <GetStudentDTO>();
    protected override async Task OnInitializedAsync()
    {
       students = await StudentService.GetAllStudentsAsync();
    }
}