@page "/Students"
@using Application.Services.StudentServices
@using Domain.Entities
@inject IStudentService StudentService
<h1>Students List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>FullName</th>
        <th>Sex</th>
        <th>Date Of Birth</th>
        <th>Phone</th>
        <th>Email</th>
         <th>RegNumber</th>
        <th>Address</th>
        <th>ParentNames</th>
        <th>Parentphonenumber</th>
        <th>useradded</th>
        <th>DateAdded</th>
        <th>Status</th>

    </tr>
    @foreach (var student in students)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.FullName</td>
            <td>@student.Sex</td>
            <td>@student.DateOfBirth</td>
            <td>@student.Phone</td>
            <td>@student.Email</td>
            <td>@student.RegNumber</td>
            <td>@student.Address</td>
            <td>@student.ParentNames</td>
            <td>@student.Parentphonenumber</td>
            <td>@student.useradded</td>
            <td>@student.DateAdded</td>
            <td>@student.Status</td>

        </tr>
    }
</table>
@code{
  
    private List<Student> students = new List <Student>();
    protected override void OnInitialized()
    {
       students = StudentService.GetAllStudents();
    }
}