@page "/Students"
@using Core.Application.Services.StudentServices
@inject IStudentService StudentService
<h1>Students List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Date Of Birth</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    @foreach (var Student in students)
    {
        <tr>
            <td>@Student.Id</td>
            <td>@Student.Name</td>
            <td>@Student.Sex</td>
            <td>@Student.DateofBirth</td>
            <td>@Student.Phone</td>
            <td>@Student.Email</td>
        </tr>
    }
</table>
@code{
  
    private List<Student> students = new List <Student>();
    protected override void OnInitialized()
    {
       students=StudentService.GetAllStudents();
    }
}