@page "/Students"
@using Application.Services.StudentServices
@using Domain.Entities
@inject IStudentService StudentService
<h1>Students List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Date Of Birth</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    @foreach (var student in students)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.Name</td>
            <td>@student.Sex</td>
            <td>@student.DateOfBirth</td>
            <td>@student.Phone</td>
            <td>@student.Email</td>
        </tr>
    }
</table>
@code{
  
    private List<Student> students = new List <Student>();
    protected override void OnInitialized()
    {
       students = StudentService.GetAllStudents();
    }
}